/*######################################
                GENERAL
######################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 120vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
}

/*######################################
                MAIN
######################################*/

form {
    text-align: center;
    margin-top: 5vh;
}

form input[type="text"] {
    border: 0.5px solid #8BC6EC;
    background-color: whitesmoke;
    border-radius:16px ;
    padding: 12px;
    width: 35vw;
}

form input[type="button"] {
    padding: 9px 18px;
    margin-left: 12px;
    border-radius:16px ;
    border: none;
    background-color: whitesmoke;
    border: 0.5px solid #8BC6EC;
}

section:nth-of-type(1) span {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

section:nth-of-type(1) img {
    width: 50vw;
    padding: 5vh 10vw;
}

section:nth-of-type(1) > p {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3vh;
}

section {
    background-color: whitesmoke;
    width: 50vw;
    border-radius: 20px;
    margin: 5vh auto;
}

/* WETTER DATEN */

section article {
    display: flex;
    flex-direction: column;
    padding:1vh 5vw 5vh 5vw;
}

section div  {
    display: flex;
    padding: 10px 0;
}

section div p {
    width: 300px;
    border-bottom: 0.5px solid grey;
    padding-bottom: 5px;
}

section div p:nth-of-type(2) {
    text-align: right;
}
