/*######################################
                GENERAL
######################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url();
}

:root {
    --main-font: ubuntu;
    --main-font-color: #957554;
    --main-font-color_light: #fff;
    --background-color: #DFAA5B;
}

body {
    max-width: 992px;
    margin: 0 auto;
}

/*######################################
                HEADER
######################################*/




/*######################################
                MAIN
######################################*/

/* #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    
}
section:nth-of-type(2) div:nth-of-type(1) {
    grid-area: div;
} */



section article {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

section div  {
    display: flex;
    border: 1px solid blue;
    
}

section div p {
    width: 300px;
}






/*######################################
                FOOTER
######################################*/